extends base

block content
    div.container-fluid
        ul.media-list.game-list
            li.media
                a.pull-left(href="#")
                    img.media-object(src="/images/default_avatar.png", alt="xxx")
                div.media-body
                    h4.media-heading="Media Heading"
                    | 文本
                    | 文本啊啊啊
            li.media
                a.pull-left(href="#")
                    img.media-object(src="/images/default_avatar.png", alt="xxx")
                div.media-body
                    h4.media-heading="Media Heading"
                    | 文本
                    | 文本啊啊啊
            li.media
                a.pull-left(href="#")
                    img.media-object(src="/images/default_avatar.png", alt="xxx")
                div.media-body
                    h4.media-heading="Media Heading"
                    | 文本
                    | 文本啊啊啊